<p>Please enter your email address to edit your account. A validation link will be emailed to you.</p>
<%= form_tag(update_path(:method => :get)) do %>
  <%= text_field_tag :email %><br />
  <%= submit_tag "submit" %>
<% end %>