<table>
  <% @accounts.each_slice(5) do |accounts_slice| %>
    <tr>
      <% accounts_slice.each do |account| %>
        <td>
          <%= link_to image_tag(account.avatar.url, :alt => account.full_name), account.page_url %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
