<h1>Account Created</h1>

<p>
  TODO: Make this sound better.
</p>

<p>
  Your account will not appear on the home page until you confirm your account.  To do so, please click on the link that was sent to you via email.
</p>

<p>
  <%= link_to "Return to Listing", root_path %>
</p>
