<h1>Account Listing</h1>

<p>
  TODO: This page exists only to test backend functionality.  It should be made much prettier.
</p>

<p>
  <%= link_to "Add Yourself!", new_account_path %>
</p>

<p>
  Sort By:
  <%= select_tag :order_by, options_for_select(AccountsHelper::ORDER_BY_OPTIONS, session[:order_by]), :id => 'order_by_select' %>
</p>

<div id="accounts_list">
  <%= render 'accounts' %>
</div>
